@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 69 100% 50%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0 0% 80%;
    --radius: 0.5rem;
    --separator: 0 0% 80%;


    --background: 0 0% 18%; 
    --foreground: 0 0% 95%;
    --card: 24.3 0% 48%;
    --input: 24.3 0% 48%;; 
    --radius: 1.5rem;
    --primary: 24.3 0% 48%;
  }

  .dark {
    --background: 0 0% 5%; 
    --foreground: 0 0% 90%; 
    --card: 0 0% 10%; 
    --card-foreground: 0 0% 90%; 
    --popover: 0 0% 5%; 
    --popover-foreground: 0 0% 90%; 
    --primary: 30 100% 50%; 
    --primary-foreground: 0 0% 5%; /* Dark text for primary elements */
    --secondary: 0 0% 15%; /* Dark gray for secondary elements */
    --secondary-foreground: 0 0% 90%; /* Light gray text for secondary elements */
    --muted: 0 0% 15%; /* Dark gray for muted elements */
    --muted-foreground: 0 0% 60%; /* Medium gray for muted text */
    --accent: 30 100% 50%; /* Bright orange for accent elements */
    --accent-foreground: 0 0% 90%; /* Light gray for accent text */
    --destructive: 0 60% 50%; /* Red for destructive actions */
    --destructive-foreground: 0 0% 90%; /* Light gray text for destructive actions */
    --border: 0 0% 15%; /* Dark gray for borders */
    --input: 0 0% 15%; /* Dark gray for inputs */
    --ring: 30 100% 50%; /* Bright orange for focus rings */
  }
}

.text-underlay-1 {
  background: linear-gradient(
    98deg,
    #ffffff -5.47%,
    #8d8c8c 65.47%
  ); /* Orange gradient for text */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  background: url("/assets/home/hero-3.png");
  background-position: center;
  background-size: cover;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-xl font-medium tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
}